@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3b82f6;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.import-success{
    @apply bg-green-50 dark:bg-green-700;

    &:hover{
        @apply bg-green-100 dark:bg-green-800;
    }
}
.import-failed {
    @apply bg-red-50 dark:bg-red-700;
    &:hover{
        @apply bg-red-100 dark:bg-red-800;
    }
}
